<br>
<div class="title">
    <p><span>|</span> Login</p>
</div>
<br>
<h3>
    <i class='fas fa-user-tie' style='color: black;font-size:36px'></i>
    <br>
    Login to your account
</h3>
<br>
<form>

    <div class="container">
        <h2>Enter your username and password</h2>
        <br>
        <label for="uname"><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <br>
        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <button class="login-button" type="submit">Login</button>
    </div>


</form>
<br>