form {
    border: 1px solid #cbc9c9;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #eee;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
}

h3 {
    text-align: center;
    color: #f44336;
}
h2{
    color: #00968d;
}

input[type=text],
input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}
.container label b{
padding-right: 330px;
color: #00968d;


}